<!-- APP DETAILS -->
<div id="appDetails" class="panel" ng-controller="appsDetailsCtrl"
	menu-panel>

	<div class="panel_header">
		<h3 class="title">Detalle</h3>
		<h4 class="subtitle">de la aplicaci&oacute;n</h4>
		<div class="popup_closer" ng-click="closeAppDetails()"></div>
	</div>

	<div class="panel_body">
		<div class="arrow_separator"></div>
		<div class="panel_option">

			<div class="comment">
				<h5 class="app_title_detail">{{selectedApp.title}}</h5>
				<p>
					<span ng-bind-html="selectedApp.description" />
					
						<div class="date_platform platforms">
							<span class="platform_label">Plataforma:</span>
							<span class="available android" ng-if="existePara('Android')"> Android</span>
							<span class="available iphone" ng-if="existePara('iPhone')"> Iphone</span>
						</div>
				</p>

				<div class="app_screens">
					<img ng-src="{{selectedApp.imagen_t}}" /> <img
						ng-src="{{selectedApp.QRAndroid_t}}" />
				</div>
				<div class="develop">
					<span class="developer">Rating:</span>
						<img ng-src="./img/rating_1.png"/ ng-if="selectedAppRating == 0 || selectedAppRating == null">
						<img ng-src="./img/rating_1.png"/ ng-if="selectedAppRating ==1">
						<img ng-src="./img/rating_2.png"/ ng-if="selectedAppRating ==2">
						<img ng-src="./img/rating_3.png"/ ng-if="selectedAppRating ==3">
						<img ng-src="./img/rating_4.png"/ ng-if="selectedAppRating ==4">
						<img ng-src="./img/rating_5.png"/ ng-if="selectedAppRating ==5"> 
						
					</div>
				<div class="develop">
							<span class="developer">Desarrollador:</span>
							{{selectedApp.author}}</div>
					<div class="develop">		
							<span class="developer">Link:</span>
							 {{selectedApp.authorlink_t}}
						</div>
				<div class="develop">
				<span class="developer">Categoria: </span>
				<span  ng-repeat="cat in selectedApp.category">{{cat}} </span>
				</div>
				<div class="develop">
				<span class="developer">Palabras clave: </span>
				<span  ng-repeat="cat in selectedApp.keywords_smultiple">{{cat}} </span>
				</div>
				<div class="develop">
					<span class="developer">Ultima actualizacion: </span>{{selectedApp.last_modified.substring(0, 10)}}
				</div>
						
				<div class="share_box">
					<div class="label_comparte">Si te gusta, comparte:</div>
 					<div class="social social_face_on" ng-if="facebookInstalled" ng-click="shareFacebook(selectedApp.title)"></div>
					<div class="social social_face_off" ng-if="!facebookInstalled"></div>
					 
					<div class="social social_twitter_on" ng-if="twitterInstalled" ng-click="shareTwitter(selectedApp.title)"></div>
					<div class="social social_twitter_off" ng-if="!twitterInstalled"></div>
					
					<div class="social social_wat_on" ng-if="whatsappInstalled" ng-click="shareWhatsapp(selectedApp.title)"></div>
					<div class="social social_wat_off" ng-if="!whatsappInstalled"></div>
					
					<div class="social social_share" ng-click="shareGlobal(selectedApp.title)"></div>
					
					<!-- </div> -->
				</div>
			</div>

			<div class="new_poi_buttons cent">
				<a class="update_button" ng-click="verComentarios()">Ver
					comentarios</a> <a class="update_button"
					ng-click="instalarAplicacion()">Instalar </a>
			</div>


		</div>
	</div>
</div>

</div>
