<!-- APPS SEARCH -->
<meta charset="utf-8" />
<div id="appSearch" class="panel" ng-controller="appSearchCtrl">

	<div class="panel_header buscar_apps">
		<h3 class="title">BUSCADOR</h3>
		<h4 class="subtitle">Por criterios de búsqueda</h4>
	</div>

	<div class="panel_body">
		<div class="arrow_separator"></div>

		<div class="search_line">
		
		<form id="searchForm">
			<input type="search" ng-model="byTitle"
				placeholder="Buscar por nombre..." />
		</form>

		</div>
		
		<!-- INICIO ACORDEON -->
		<div id="accordion" class="acordeon">
  <h3><label class="">Filtrar por categoría:</label></h3>
  
		<div class="panel_option">
			<div class="form_line">
<!-- 				<div class="form_box_left categorias_label">
					<label class="">Filtrar por categoría:</label>
				</div> -->
				<ul id="listado_cats" class="form_box_right">
					<!-- 					<li class="light" ng-repeat="category in categories">{{category}}</li> -->
					<li
						ng-class="{'light': !category.selected, 'light cat_selected': category.selected, 'filtroTodas': category.filtroTodas}"
						ng-repeat="category in categories"
						ng-click="selectCagetory(category)">{{category.name}}</li>
				</ul>

			</div>
		</div>
	</div>
		<!-- FIN ACORDEON -->

		<div class="panel_option">
			<h4 class="personal">Resultados obtenidos</h4>
			<div class="comment"
				ng-repeat="app in iesCitiesApps | orderBy: '-last_modified' | filter:{title: byTitle}"
				ng-click="mostrarDetalleAplicacion(app)"
				ng-show="correspondeConCategoria(app)">
				<div class="map_name_list">
					<p class="complait_title">{{app.title}}</p>
				</div>
				<div class="app_box">
					<div class="app_thumb">
						<img ng-src="./img/appicons/{{app.id}}.png" on-error-src="./img/appicons/play_Store_icon.png" class="app_thumb_img">
					</div>
					<div class="date">
						<span class="category_span">{{obtenerCategoriaAplicacion(app)}}</span>
					</div>
					<div class="date">
						<span>Actualizado a:</span> {{app.last_modified |
						date:'dd/MM/yyyy'}}
					</div>

					<div class="date_platform platforms">
						<span class="available android" ng-if="existePara('Android',app)">
							android</span><span class="available iphone"
							ng-if="existePara('iOS',app)"> Iphone</span>
					</div>


					<div class="date">
						<img ng-src="./img/rating_0.png"/ ng-if="getRating(app.id) == 0 || getRating(app.id) == null">
						<img ng-src="./img/rating_1.png"/ ng-if="getRating(app.id) ==1">
						<img ng-src="./img/rating_2.png"/ ng-if="getRating(app.id) ==2">
						<img ng-src="./img/rating_3.png"/ ng-if="getRating(app.id) ==3">
						<img ng-src="./img/rating_4.png"/ ng-if="getRating(app.id) ==4">
						<img ng-src="./img/rating_5.png"/ ng-if="getRating(app.id) ==5"> 
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<script type="text/javascript">
$("#searchForm").submit(function() {
	  $('#searchForm input').blur();
	});
</script>
