<div ng-controller="MainCtrl">


	<!-- Swipeable menu -->
	<div ng-include src="'partials/nav.html'" menu-panel></div>


	<!-- Lista de aplicaciones -->
	<div ng-include src="'partials/appsList.html'" apps-list menu-panel></div>
	
	<!-- Buscador de aplicaciones -->
	<div ng-include src="'partials/appSearch.html'" app-search menu-panel></div>

	<!-- Mis aplicaciones -->
	<div ng-include src="'partials/myApps.html'" my-apps menu-panel></div>

	<!-- Detalle de aplicacion -->
	<div ng-include src="'partials/appDetails.html'" menu-panel></div>
	
	<!-- Comentarios de la aplicacion -->
	<div ng-include src="'partials/appComments.html'" menu-panel></div>
	
	<!-- Valorar aplicacion -->
	<div ng-include src="'partials/appRating.html'" menu-panel></div>

	<!-- My profile -->
	<div ng-include src="'partials/profile.html'" profile-panel></div>


	<!-- Login -->
	<div ng-include src="'partials/login.html'" login-panel></div>

	<!-- Help -->
	<div ng-include src="'partials/help.html'" help-info-panel></div>

	<!-- Privacy -->
	<div ng-include src="'partials/privacy.html'" privacy-info-panel></div>

	<!-- Delete dialog-->
	<div ng-include src="'partials/delete_dialog.html'" delete-dialog-panel></div>
	


</div>