<!-- MAIN MENU -->
<div id="black_fader" ng-click="fade_back()" ng-swipe-left="fade_back()"></div>
<div id="main_menu"  ng-controller="menuCtrl">

	<div class="menu_options">

		<div class="menu_option" ng-click="openAppsList()">
			<img src="img/menu_ico_apps.png" />
			<h2>Lista aplicaciones</h2>
		</div>

		<div class="menu_option" ng-click="openAppSearch()">
			<img src="img/menu_ico_search.png" />
			<h2>Buscador aplicaciones</h2>
		</div>
		<div class="menu_option" ng-click="openMyApps()">
			<img src="img/menu_ico_myapps.png" />
			<h2>Mis aplicaciones</h2>
		</div>	

	</div>

	<div class="pestana" ng-click="toggle_main_menu()" ng-swipe-left="toggle_main_menu()" ng-swipe-right="toggle_main_menu()">
		<div id="boton_despliega">
			<img src="img/v_slide_spots.png" />
		</div>
	</div>

</div>