<!-- PROFILE -->
<div ng-controller="profileCtrl">
	<div id="my_profile">
		<div class="panel">
			<div class="panel_header">
				<h3 class="profile_icon">Mi Perfil</h3>
				<div class="popup_closer" ng-click="closePanelWithId('my_profile')"></div>
			</div>

			<div class="panel_body">
				<form name="profileForm" method="post">
					<div class="panel_option">
						<h4 class="personal">Mis datos personales</h4>

						<div class="form_line">
							<div class="form_box_left">
								<label>Nombre:</label>
							</div>
							<div class="form_box_right">
								<input type="text" ng-model="profileData.name" />
							</div>
						</div>
						<div class="form_line">
							<div class="form_box_left">
								<label>Correo electr&oacutenico:</label>
							</div>
							<div class="form_box_right">
								<input type="text" ng-model="profileData.email" required />
							</div>
						</div>
						<div class="form_line">
							<div class="form_box_left">
								<label>Password actual:</label>
							</div>
							<div class="form_box_right">
								<input type="password" ng-model="profileData.currentPassword"/>
							</div>
						</div>
						<div class="form_line">
							<div class="form_box_left">
								<label>Nuevo password:</label>
							</div>
							<div class="form_box_right">
								<input type="password" ng-model="profileData.newPassword"/>
							</div>
						</div>
						<div class="form_line">
							<div class="form_box_left">
								<label>DNI:</label>
							</div>
							<div class="form_box_right">
								<input type="text" ng-model="profileData.nif" />
							</div>
						</div>


					</div>

					<div class="save_profile">
						<div class="update_button" ng-click="updateProfile()">Guardar</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

