<!-- WRITE COMMENT -->
<div ng-controller="appRatingCtrl">
	<div id="appRating">
		<div class="panel">
			<div class="panel_header">
				<h3 class="title">Valoraci&oacute;n</h3>
				<h4 class="subtitle">opina sobre la aplicaci&oacute;n</h4>
				<div class="popup_closer" ng-click="closeAppRating()"></div>
			</div>

			<div class="panel_body">
				<div class="arrow_separator"></div>
				<form name="newUserForm" method="post">
					<div class="panel_option">
						<h4 class="comments_title">
							<span>Sobre:</span> {{selectedApp.title}}
						</h4>
						<div class="comment" style="padding-top:1em;">
						<div class="form_line">
							<div class="form_box_left">
								<label>Nombre:</label>
							</div>
							<div class="form_box_right">
								<input type="text" class="username_icon"
									placeholder="Obligatorio" ng-model="review">
								<option ng-repeat="appRating in appRatings"
									value="{{appRating}}">{{item}}</option>
								</input>
							</div>

						</div>
						<div class="form_line">
							<div class="rate_by_stars">
								<span class="rating"> <input id="rating-input-1-5"
									name="rating-input-1" type="radio" class="rating-input"
									ng-model="commentRating" value="5" /> <label
									for="rating-input-1-5" class="rating-star"></label> <input
									id="rating-input-1-4" name="rating-input-1" type="radio"
									class="rating-input" ng-model="commentRating" value="4" /> <label
									for="rating-input-1-4" class="rating-star"></label> <input
									id="rating-input-1-3" name="rating-input-1" type="radio"
									class="rating-input" ng-model="commentRating" value="3" /> <label
									for="rating-input-1-3" class="rating-star"></label> <input
									id="rating-input-1-2" name="rating-input-1" type="radio"
									class="rating-input" ng-model="commentRating" value="2" /> <label
									for="rating-input-1-2" class="rating-star"></label> <input
									id="rating-input-1-1" name="rating-input-1" type="radio"
									class="rating-input" ng-model="commentRating" value="1" /> <label
									for="rating-input-1-1" class="rating-star"></label>
								</span>
							</div>
						</div>

						<div class="form_line">
							<div class="form_box_left">
								<label>Comentario:</label>
							</div>
							<div class="form_box_right">
								<textarea class="body_comentario" ng-model="comment" required></textarea>
							</div>
						</div>

					</div>

					<div class="save_profile">
						<div class="update_button" ng-click="sendRatting()">Publicar</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
